body {
    background-image: url('D:/KhaingZinThwal/images/adelin-preda--tOr_T4qTpQ-unsplash.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Arial', sans-serif;
    text-align: center;
    padding: 20px;
    margin: 0;  /* Ensure there's no default margin */
}

.countdown {
    max-width: 600px;
    margin: 50px auto;
    background-color: rgba(255, 255, 255, 0.8);  /* Add some transparency to the background color */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.time {
    display: inline-block;
    margin: 10px;
    font-size: 36px;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
}

h1 {
    color: #333;
}
